@import "bootstrap";
@import "variables";

@import "forms";

h1 {
    color: $brand-secondary;
    text-align: center;
}

.header {
    background-color: $brand-primary;
    color: $color-white;
    padding: 1em 0;
}

.main {
    padding: 1em 0;
}
